
.root {
    position: absolute;
    width: calc(100% - 16px);
    max-width: 100%;
    height: calc(100% - 32px);
    margin: 8px;
    border-radius: 10px;
    background: rgba(71, 94, 105, 1);
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-height: calc(100% - 32px);
    overflow-y: auto;
}

.header {
    display: flex;
    background: rgba(42, 60, 68, 1);
    border: 1px solid rgba(22, 30, 38, 1);
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 100%;
    max-width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 4px;
    align-items: center;

}

.headerTitle {
    max-height: 64px;
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img {
    height: 300px;
    float: left;
    margin: 8px;
}

.fab {
    max-width: 40px;
    max-height: 40px;
    width: 40px;
    height: 40px;
    margin: 6px;
}


.preTitle {
    color: darkblue;
}

.title {
    color: blue;
}

.preSubTitle {
    color: darkred;
}

.subTitle {
    color: red;
}